.btn-wide {
    width: 100%;
}

.width-100 {
    width: 100%;
}

.width-max {
    width: max-content;
}

.nowrap {
    white-space: nowrap;
}

.none-display {
    display: none;
}

.align-right {
    text-align: right;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.cursor-wait {
    cursor: wait !important;
}
